.container
    max-width: 100% - 20%
    width: 100%
    margin: 93px auto 143px auto
    span
        font-size: 24px
        line-height: 36px
        font-weight: 700

@media only screen and ( max-width: 470px )
    .container
        max-width: 100% - 10%
        display: flex
        justify-content: center
        span
            font-size: 16px
            line-height: 21px